<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о счете</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/accounts" class="btn">Список счетов</a>
<p th:text="'Номер счета: ' + ${accountNumber}"></p>
<p th:text="'Баланс счета: ' + ${accountBalance}"></p>
<p th:text="'Статус счета: ' + ${accountStatus}"></p>
<p>Владелец:
    <a th:href="@{'/clients/' + ${Client.getClientId()}}" class="btn" th:text="${Client.getClientName()}"></a>
</p>
<p>Отделение:
    <a th:href="@{'/departments/' + ${Department.getDepartmentId()}}" class="btn" th:text="${Department.getDepartmentName()}"></a>
</p>
<p>Тип счета:
    <a th:href="@{'/accounttypes/' + ${AccountType.getTypeId()}}" class="btn" th:text="${AccountType.getTypeName()}"></a>
</p>
<p th:text="'Дата создания: ' + ${openingDate}"></p>
<form th:action="'/accounts/' + ${accountNumber} + '/update'" method="get">
    <input type="submit" value="Редактировать">
</form>
<form action="/accounts/delete" method="post">
    <input type="hidden" name="id" th:value="${accountNumber}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>