<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/clients" method="post">
    <p><b>Добавление нового клиента</b></p>
    <p><input type="text" name="clientName">Имя<Br>
        <input type="text" name="clientPhoneNumber">Телефон<Br>
        <input type="text" name="clientEmail">Email клиента<Br>
        <input type="text" name="clientAddress">Адрес клиента<Br>
        <input type="text" name="clientRegistrationDate">Дата регистрации<Br>
        <input type="text" name="clientType">Тип<Br></p>


    <p><input type="submit" value="Добавить"></p>
</form>
</body>
</html>
