<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация об отделении</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="'/clients/' + ${clientId}" method="post">
    <p><b>Изменение данных отделения</b></p>
    <p><input type="text" name="name" th:value="${name}">Имя<Br>
        <input type="text" name="address" th:value="${address}">Адрес<Br>
        <input type="text" name="phone_number" th:value="${phone_number}">Телефон<Br>
        <input type="text" name="type" th:value="${type}">Тип<Br>
        <input type="text" name="email" th:value="${email}">Email<Br>
        <input type="text" name="date" th:value="${date}">Дата регистрации<Br></p>
    <p><input type="submit" value="Изменить"></p>
</form>
</body>
</html>