<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="${action}" th:object="${department}" method="post">
    <table>
        <tr>
            <td>Название отделения:</td>
            <td><input id="name" type="text" th:field="*{departmentName}"/></td>
            <td th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}">Name Error</td>
        </tr>
        <tr>
            <td>Адрес отделения:</td>
            <td><input id="address" type="text" value="dsada" th:field="*{departmentAddress}" /></td>
            <td th:if="${#fields.hasErrors('departmentAddress')}" th:errors="*{departmentAddress}">Address Error</td>
        </tr>
        <tr>
            <td>Телефон отделения:</td>
            <td><input id="phone" type="text" th:field="*{departmentPhoneNumber}" th:value="das"/></td>
            <td th:if="${#fields.hasErrors('departmentPhoneNumber')}" th:errors="*{departmentPhoneNumber}">PhoneNumber Error</td>
        </tr>
            <td><button th:if="${operation == 'add'}" id="add" type="submit">Добавить</button></td>
            <td><button th:if="${operation == 'update'}" id="update" type="submit">Редактировать</button></td>
        </tr>
    </table>
</form>
</body>
</html>